Date: 26, September 2020

Author: Fahid Latheef Alungal

# Doing the research for one single match

In [1]:
# Importing packages
import pandas as pd
import requests # For parsing the content

In [2]:
import time # For time.sleep between webscraping process to skip max retry error

In [3]:
# Parse the scorecard
scorecard = pd.read_html(requests.get('http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0067&Print=Y').content)[3]

In [4]:
# Format of scorecard 
scorecard

                                                    0  ...                                                  8
0                                             England  ...                                                NaN
1                                         J A Jameson  ...                                                NaN
2                                           D L Amiss  ...                                                NaN
3                                      K W R Fletcher  ...                                                NaN
4                                           A W Greig  ...                                                NaN
5                                        M H Denness*  ...                                                NaN
6                                             C M Old  ...                                                NaN
7                                              B Wood  ...                                                NaN
8                                        A P E KnottÂ†  ...                                                NaN
9                                            J A Snow  ...                                                NaN
10                                            P Lever  ...                                                NaN
11                                         G G Arnold  ...                                                NaN
12                                             Extras  ...                                                NaN
13                                              Total  ...                                                NaN
14                                                NaN  ...                                                NaN
15                                    Fall of Wickets  ...  1-54 Jameson 2-230 Fletcher 3-237 Greig 4-245 ...
16                                                NaN  ...                                                NaN
17  Bowling  O  M  R  W  ER  % of Wickets  S Madan...  ...                                                NaN
18                                                NaN  ...                                                NaN
19                                 IndiaÂ (target 335)  ...                                                NaN
20                                       S M Gavaskar  ...                                                NaN
21                                         E D Solkar  ...                                                NaN
22                                        A D Gaekwad  ...                                                NaN
23                                      G R Viswanath  ...                                                NaN
24                                          B P Patel  ...                                                NaN
25                                         M Amarnath  ...                                                NaN
26                                      F M EngineerÂ†  ...                                                NaN
27                                         S Abid Ali  ...                                                NaN
28                                        S Madan Lal  ...                                                NaN
29                                 S Venkataraghavan*  ...                                                NaN
30                                         K D Ghavri  ...                                                NaN
31                                             Extras  ...                                                NaN
32                                              Total  ...                                                NaN
33                                                NaN  ...                                                NaN
34                                    Fall of Wickets  ...           1-21 Solkar 2-50 Gaekwad 3-108 Viswanath
35                                                NaN  ...                                                NaN
36  Bowling  O  M  R  W  ER  % of Wickets  J A Sno...  ...                                                NaN
37                                                NaN  ...                                                NaN

[38 rows x 9 columns]

In [5]:
# Selecting elevant columns
scorecard = scorecard.iloc[:,0:3]
scorecard

                                                    0  ...                                                  2
0                                             England  ...                                                  R
1                                         J A Jameson  ...                                                 21
2                                           D L Amiss  ...                                                137
3                                      K W R Fletcher  ...                                                 68
4                                           A W Greig  ...                                                  4
5                                        M H Denness*  ...                                                 37
6                                             C M Old  ...                                                 51
7                                              B Wood  ...                                                NaN
8                                        A P E KnottÂ†  ...                                                NaN
9                                            J A Snow  ...                                                NaN
10                                            P Lever  ...                                                NaN
11                                         G G Arnold  ...                                                NaN
12                                             Extras  ...                                                 16
13                                              Total  ...                                                334
14                                                NaN  ...                                                NaN
15                                    Fall of Wickets  ...  1-54 Jameson 2-230 Fletcher 3-237 Greig 4-245 ...
16                                                NaN  ...                                                NaN
17  Bowling  O  M  R  W  ER  % of Wickets  S Madan...  ...  Bowling  O  M  R  W  ER  % of Wickets  S Madan...
18                                                NaN  ...                                                NaN
19                                 IndiaÂ (target 335)  ...                                                  R
20                                       S M Gavaskar  ...                                                 36
21                                         E D Solkar  ...                                                  8
22                                        A D Gaekwad  ...                                                 22
23                                      G R Viswanath  ...                                                 37
24                                          B P Patel  ...                                                 16
25                                         M Amarnath  ...                                                NaN
26                                      F M EngineerÂ†  ...                                                NaN
27                                         S Abid Ali  ...                                                NaN
28                                        S Madan Lal  ...                                                NaN
29                                 S Venkataraghavan*  ...                                                NaN
30                                         K D Ghavri  ...                                                NaN
31                                             Extras  ...                                                 13
32                                              Total  ...                                                132
33                                                NaN  ...                                                NaN
34                                    Fall of Wickets  ...           1-21 Solkar 2-50 Gaekwad 3-108 Viswanath
35                                                NaN  ...                                                NaN
36  Bowling  O  M  R  W  ER  % of Wickets  J A Sno...  ...  Bowling  O  M  R  W  ER  % of Wickets  J A Sno...
37                                                NaN  ...                                                NaN

[38 rows x 3 columns]

In [6]:
# Seperating scorecards

scorecard1 = scorecard.iloc[0:14, :]
scorecard1.columns = scorecard1.iloc[0]
team1 = scorecard1.iloc[0,0]
scorecard1 = scorecard1[1:]


scorecard2 = scorecard.iloc[19:33, :]
scorecard2.reset_index(drop=True, inplace=True) # Resetting index
scorecard2.columns = scorecard2.iloc[0]
team2 = scorecard2.iloc[0,0]
scorecard2 = scorecard2[1:]

In [7]:
scorecard1

0          England                                  England    R
1      J A Jameson             c Venkataraghavan b Amarnath   21
2        D L Amiss                              b Madan Lal  137
3   K W R Fletcher                               b Abid Ali   68
4        A W Greig                           lbw b Abid Ali    4
5     M H Denness*                                  not out   37
6          C M Old                                  not out   51
7           B Wood                                      NaN  NaN
8     A P E KnottÂ†                                      NaN  NaN
9         J A Snow                                      NaN  NaN
10         P Lever                                      NaN  NaN
11      G G Arnold                                      NaN  NaN
12          Extras                       (lb 12, w 2, nb 2)   16
13           Total  4 wickets  &nbsp(60.0 overs @ 5.57 rpo)  334

In [8]:
scorecard2

0   IndiaÂ (target 335)                       IndiaÂ (target 335)    R
1         S M Gavaskar                                  not out   36
2           E D Solkar                         c Lever b Arnold    8
3          A D Gaekwad                         c Â†Knott b Lever   22
4        G R Viswanath                         c Fletcher b Old   37
5            B P Patel                                  not out   16
6           M Amarnath                                      NaN  NaN
7        F M EngineerÂ†                                      NaN  NaN
8           S Abid Ali                                      NaN  NaN
9          S Madan Lal                                      NaN  NaN
10  S Venkataraghavan*                                      NaN  NaN
11          K D Ghavri                                      NaN  NaN
12              Extras                        (lb 3, w 1, nb 9)   13
13               Total  3 wickets  &nbsp(60.0 overs @ 2.20 rpo)  132

In [9]:
team1

'England'

In [10]:
import re # Regex

In [11]:
team2 = re.sub(r'\([^)]*\)', '', team2) # remove target scores from the team name

In [12]:
team2 = team2.replace(u'\xa0', '') # remove \xa0 character

In [13]:
team2

'India'

In [14]:
# Finding total Score

total_score = int(scorecard2.iloc[-1,-1]) + int(scorecard1.iloc[-1,-1])
total_score

466

In [15]:
total_batsman_innings_1 = scorecard1.iloc[-1,1][0]  # First character of the score cell
# Important : if the wicket is between 1 to 9, the character is the number itself
# Incase of 10 wickets, it is mentioned All out, so the character will be 'A'

if total_batsman_innings_1 == 'A': # The All Out Case
    total_batsman_innings_1 = 11
else:
    total_batsman_innings_1 = int(total_batsman_innings_1) + 2


total_batsman_innings_2 = scorecard2.iloc[-1,1][0:1]  # First 1 character of the score cell

if total_batsman_innings_2 == 'A': # The All Out Case
    total_batsman_innings_2 = 11
else:
    total_batsman_innings_2 = int(total_batsman_innings_2) + 2


total_batsman_in_the_match = total_batsman_innings_1 + total_batsman_innings_2
total_batsman_in_the_match

11

In [16]:
# Significant scores

min_score_required_to_be_classified = 30  # Anything below this is classified as non-significant
min_limit_from_the_match = total_score/ total_batsman_in_the_match
min_limit_from_the_match

42.36363636363637

In [17]:
final_minimum_limit = max(min_score_required_to_be_classified, min_limit_from_the_match)
final_minimum_limit

42.36363636363637

Anything above this limit will be considered significant for this match

In [18]:
scorecard1['R'][0:11]

1      21
2     137
3      68
4       4
5      37
6      51
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
Name: R, dtype: object

In [19]:
"""
# To be used to initialize the counter
# batsman position : significant innings count
# OR
# batsman position : total innings (including significant innings)

counter  = {
     1: 0,
     2: 0,
     3: 0,
     4: 0,
     5: 0,
     6: 0,
     7: 0,
     8: 0,
     9: 0,
     10:0,
     11:0    
    }
"""
teams_list_1975 = []
sig_innings_db_1975 = {}
tot_innings_db_1975 = {}

In [20]:
import numpy as np # For NaN treatment

In [21]:
if team1 not in teams_list_1975:
    teams_list_1975.append(team1)
    # Initializing the counters
    sig_innings_db_1975[tuple(["{0}".format(team1), 'sig_count'])] = {
         1: 0,
         2: 0,
         3: 0,
         4: 0,
         5: 0,
         6: 0,
         7: 0,
         8: 0,
         9: 0,
         10:0,
         11:0
        } # Initializing the significant innings database if it does not exists
    
    tot_innings_db_1975[tuple(["{0}".format(team1), 'tot_count'])] = {
         1: 0,
         2: 0,
         3: 0,
         4: 0,
         5: 0,
         6: 0,
         7: 0,
         8: 0,
         9: 0,
         10:0,
         11:0
        } # Initializing the total innings database if it does not exists

else:
    pass

for position, score in enumerate(scorecard1['R'][0:11],1):
    # print(position,score)
    if score is not np.nan:
        if int(score) >= final_minimum_limit:
            sig_innings_db_1975[tuple([team1, 'sig_count'])][position] +=1 # sig score counter
            tot_innings_db_1975[tuple([team1, 'tot_count'])][position] +=1 # total innings counter
        else:
            tot_innings_db_1975[tuple([team1, 'tot_count'])][position] +=1 # only updates total innings counter
    else:
        pass # no update in any of the counters, because the batsman did not bat

In [22]:
tot_innings_db_1975

{('England', 'tot_count'): {1: 1,
  2: 1,
  3: 1,
  4: 1,
  5: 1,
  6: 1,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0}}

In [23]:
# Same as above for team2
if team2 not in teams_list_1975:
    teams_list_1975.append(team2)
    # Initializing the counters
    sig_innings_db_1975[tuple(["{0}".format(team2), 'sig_count'])] = {
         1: 0,
         2: 0,
         3: 0,
         4: 0,
         5: 0,
         6: 0,
         7: 0,
         8: 0,
         9: 0,
         10:0,
         11:0
        } # Initializing the significant innings database if it does not exists
    
    tot_innings_db_1975[tuple(["{0}".format(team2), 'tot_count'])] = {
         1: 0,
         2: 0,
         3: 0,
         4: 0,
         5: 0,
         6: 0,
         7: 0,
         8: 0,
         9: 0,
         10:0,
         11:0
        } # Initializing the total innings database if it does not exists

else:
    pass

for position, score in enumerate(scorecard2['R'][0:11],1):
    # print(position,score)
    if score is not np.nan:
        if int(score) >= final_minimum_limit:
            sig_innings_db_1975[tuple([team2, 'sig_count'])][position] +=1 # sig score counter
            tot_innings_db_1975[tuple([team2, 'tot_count'])][position] +=1 # total innings counter
        else:
            tot_innings_db_1975[tuple([team2, 'tot_count'])][position] +=1 # only updates total innings counter
    else:
        pass # no update in any of the counters, because the batsman did not bat

In [24]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_1975)
df2 = pd.DataFrame(tot_innings_db_1975)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_1975 = df.copy()
df_1975

     England               India
   sig_count tot_count sig_count tot_count
1          0         1         0         1
2          1         1         0         1
3          1         1         0         1
4          0         1         0         1
5          0         1         0         1
6          1         1         0         0
7          0         0         0         0
8          0         0         0         0
9          0         0         0         0
10         0         0         0         0
11         0         0         0         0

We are done with a single match, let's try to scrape all the Scorecard links for the 1975 worldcup

# Getting all the links for the worldcup 1975

In [25]:
from bs4 import BeautifulSoup as Soup
from urllib.request import Request, urlopen

In [26]:
# The link to all 1975-Worldcup matches
url_1975 = "http://www.howstat.com/cricket/Statistics/Matches/MatchList_ODI.asp?Group=1975060719750621&Range=1975%20World%20Cup"

In [27]:
req = Request(url_1975)
html_page = urlopen(req)

soup = Soup(html_page, "lxml")

links = []
for link in soup.findAll('a'):
    links.append(link.get('href'))

links = list(filter(None, links))   # Remove None links  
    
print(links) # Getting all links from the page

['http://www.howstat.com/cricket/AboutUs.asp', 'http://www.howstat.com/cricket/Feedback.asp', 'http://www.howstat.com/cricket/AskTheExpert.asp', 'http://www.howstat.com/cricket/AdvertisingInfo.asp', 'http://www.howstat.com/cricket/Privacy.asp', 'http://www.howstat.com/cricket//Statistics/Players/PlayerMenu.asp', 'http://www.howstat.com/cricket/home.asp', 'http://www.howstat.com/cricket/Statistics/Players/PlayerMenu.asp', 'http://www.howstat.com/cricket/Statistics/Matches/MatchListMenu.asp', 'http://www.howstat.com/cricket/Statistics/Series/SeriesListMenu.asp', 'http://www.howstat.com/cricket/Statistics/AllRounders/AllRoundersMenu.asp', 'http://www.howstat.com/cricket/Statistics/Batting/BattingMenu.asp', 'http://www.howstat.com/cricket/Statistics/Bowling/BowlingMenu.asp', 'http://www.howstat.com/cricket/Statistics/Captaincy/CaptaincyMenu.asp', 'http://www.howstat.com/cricket/Statistics/Countries/CountryList.asp', 'http://www.howstat.com/cricket/Statistics/Dismissals/DismissalMenu.asp', 'http://www.howstat.com/cricket/Statistics/Fielding/FieldingMenu.asp', 'http://www.howstat.com/cricket/Statistics/Grounds/GroundMenu.asp', 'http://www.howstat.com/cricket/Statistics/Matches/MatchMenu.asp', 'http://www.howstat.com/cricket/Statistics/Series/SeriesMenu.asp', 'http://www.howstat.com/cricket/Statistics/WicketKeeping/WicketKeepingMenu.asp', 'http://www.howstat.com/cricket/Statistics/WorldCup/WorldCupMenu.asp', 'http://www.howstat.com/cricket/Statistics/WSC/WSCMenu.asp', 'http://www.howstat.com/cricket/Statistics/Misc/MiscMenu.asp', 'http://www.howstat.com/cricket/Statistics/IPL/IPLMenu.asp', 'http://www.howstat.com/cricket/Articles/Milestones.asp', 'http://www.howstat.com/cricket/Articles/RecentRecords.asp', 'http://www.howstat.com/cricket/Statistics/WorldXI.asp', 'http://www.howstat.com/cricket/Statistics/WorldXI_ODI.asp', 'http://www.howstat.com/cricket/Statistics/TopTen.asp', 'http://www.howstat.com/cricket/Statistics/TopTen_ODI.asp', 'http://www.howstat.com/cricket/Search.asp', 'http://www.howstat.com/cricket/Quiz/Quiz.asp', 'http://www.howstat.com/cricket/Links.asp', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=040', 'MatchScorecard_ODI.asp?MatchCode=0067', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=019', 'MatchScorecard_ODI.asp?MatchCode=0068', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=027', 'MatchScorecard_ODI.asp?MatchCode=0069', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=047', 'MatchScorecard_ODI.asp?MatchCode=0070', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=060', 'MatchScorecard_ODI.asp?MatchCode=0071', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=027', 'MatchScorecard_ODI.asp?MatchCode=0072', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=059', 'MatchScorecard_ODI.asp?MatchCode=0073', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=019', 'MatchScorecard_ODI.asp?MatchCode=0074', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=019', 'MatchScorecard_ODI.asp?MatchCode=0075', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=047', 'MatchScorecard_ODI.asp?MatchCode=0076', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=059', 'MatchScorecard_ODI.asp?MatchCode=0077', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=060', 'MatchScorecard_ODI.asp?MatchCode=0078', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=027', 'MatchScorecard_ODI.asp?MatchCode=0079', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=059', 'MatchScorecard_ODI.asp?MatchCode=0080', '../Series/SeriesStats_ODI.asp?SeriesCode=0203', '../Grounds/GroundStats_ODI.asp?GroundCode=040', 'MatchScorecard_ODI.asp?MatchCode=0081', 'MatchList_ODI.asp?Group=1971010119711231&v=M&Range=1971', 'MatchList_ODI.asp?Group=1972010119721231&v=M&Range=1972', 'MatchList_ODI.asp?Group=1973010119731231&v=M&Range=1973', 'MatchList_ODI.asp?Group=1974010119741231&v=M&Range=1974', 'MatchList_ODI.asp?Group=1975010119751231&v=M&Range=1975', 'MatchList_ODI.asp?Group=1976010119761231&v=M&Range=1976', 'MatchList_ODI.asp?Group=1977010119771231&v=M&Range=1977', 'MatchList_ODI.asp?Group=1978010119781231&v=M&Range=1978', 'MatchList_ODI.asp?Group=1979010119791231&v=M&Range=1979', 'MatchList_ODI.asp?Group=1980010119801231&v=M&Range=1980', 'MatchList_ODI.asp?Group=1981010119811231&v=M&Range=1981', 'MatchList_ODI.asp?Group=1982010119821231&v=M&Range=1982', 'MatchList_ODI.asp?Group=1983010119831231&v=M&Range=1983', 'MatchList_ODI.asp?Group=1984010119841231&v=M&Range=1984', 'MatchList_ODI.asp?Group=1985010119851231&v=M&Range=1985', 'MatchList_ODI.asp?Group=1986010119861231&v=M&Range=1986', 'MatchList_ODI.asp?Group=1987010119871231&v=M&Range=1987', 'MatchList_ODI.asp?Group=1988010119881231&v=M&Range=1988', 'MatchList_ODI.asp?Group=1989010119891231&v=M&Range=1989', 'MatchList_ODI.asp?Group=1990010119901231&v=M&Range=1990', 'MatchList_ODI.asp?Group=1991010119911231&v=M&Range=1991', 'MatchList_ODI.asp?Group=1992010119921231&v=M&Range=1992', 'MatchList_ODI.asp?Group=1993010119931231&v=M&Range=1993', 'MatchList_ODI.asp?Group=1994010119941231&v=M&Range=1994', 'MatchList_ODI.asp?Group=1995010119951231&v=M&Range=1995', 'MatchList_ODI.asp?Group=1996010119961231&v=M&Range=1996', 'MatchList_ODI.asp?Group=1997010119971231&v=M&Range=1997', 'MatchList_ODI.asp?Group=1998010119981231&v=M&Range=1998', 'MatchList_ODI.asp?Group=1999010119991231&v=M&Range=1999', 'MatchList_ODI.asp?Group=2000010120001231&v=M&Range=2000', 'MatchList_ODI.asp?Group=2001010120011231&v=M&Range=2001', 'MatchList_ODI.asp?Group=2002010120021231&v=M&Range=2002', 'MatchList_ODI.asp?Group=2003010120031231&v=M&Range=2003', 'MatchList_ODI.asp?Group=2004010120041231&v=M&Range=2004', 'MatchList_ODI.asp?Group=2005010120051231&v=M&Range=2005', 'MatchList_ODI.asp?Group=2006010120061231&v=M&Range=2006', 'MatchList_ODI.asp?Group=2007010120071231&v=M&Range=2007', 'MatchList_ODI.asp?Group=2008010120081231&v=M&Range=2008', 'MatchList_ODI.asp?Group=2009010120091231&v=M&Range=2009', 'MatchList_ODI.asp?Group=2010010120101231&v=M&Range=2010', 'MatchList_ODI.asp?Group=2011010120111231&v=M&Range=2011', 'MatchList_ODI.asp?Group=2012010120121231&v=M&Range=2012', 'MatchList_ODI.asp?Group=2013010120131231&v=M&Range=2013', 'MatchList_ODI.asp?Group=2014010120141231&v=M&Range=2015', 'MatchList_ODI.asp?Group=2015010120151231&v=M&Range=2015', 'MatchList_ODI.asp?Group=2016010120161231&v=M&Range=2016', 'MatchList_ODI.asp?Group=2017010120171231&v=M&Range=2017', 'MatchList_ODI.asp?Group=2018010120181231&v=M&Range=2018', 'MatchList_ODI.asp?Group=2019010120191231&v=M&Range=2019', 'MatchList_ODI.asp?Group=2020010120201231&v=M&Range=2020', 'MatchListMenu.asp#odis?data-scroll=false', 'http://www.howstat.com/cricket/copyright.asp', 'http://www.howstat.com/cricket/disclaimer.asp']

In [28]:
# The links with the string 'MatchScorecard' are the scorecards
scorecard_1975 = []
for _ in links:
    if 'MatchScorecard' in _:
        scorecard_1975.append(_)

print(scorecard_1975)

['MatchScorecard_ODI.asp?MatchCode=0067', 'MatchScorecard_ODI.asp?MatchCode=0068', 'MatchScorecard_ODI.asp?MatchCode=0069', 'MatchScorecard_ODI.asp?MatchCode=0070', 'MatchScorecard_ODI.asp?MatchCode=0071', 'MatchScorecard_ODI.asp?MatchCode=0072', 'MatchScorecard_ODI.asp?MatchCode=0073', 'MatchScorecard_ODI.asp?MatchCode=0074', 'MatchScorecard_ODI.asp?MatchCode=0075', 'MatchScorecard_ODI.asp?MatchCode=0076', 'MatchScorecard_ODI.asp?MatchCode=0077', 'MatchScorecard_ODI.asp?MatchCode=0078', 'MatchScorecard_ODI.asp?MatchCode=0079', 'MatchScorecard_ODI.asp?MatchCode=0080', 'MatchScorecard_ODI.asp?MatchCode=0081']

In [29]:
web_link_prefix = 'http://www.howstat.com/cricket/Statistics/Matches/'
web_link_suffix = '&Print=Y'

# Generalizing the research using functions

In [30]:
# Function to seperate scorecards and teamnames

def scorecards_parsing(match_scorecard_link):
    scorecard = pd.read_html(requests.get(match_scorecard_link).content)[3]
    scorecard = scorecard.iloc[:,0:3]
    
    scorecard1 = scorecard.iloc[0:14, :]
    scorecard1.columns = scorecard1.iloc[0]
    team1 = scorecard1.iloc[0,0]
    scorecard1 = scorecard1[1:]

    scorecard2 = scorecard.iloc[19:33, :]
    scorecard2.reset_index(drop=True, inplace=True) # Resetting index
    scorecard2.columns = scorecard2.iloc[0]
    team2 = scorecard2.iloc[0,0]
    scorecard2 = scorecard2[1:]
    
    team2 = re.sub(r'\([^)]*\)', '', team2) # remove target scores from the team name
    team2 = team2.replace(u'\xa0', '') # remove \xa0 character
    
    return team1, team2, scorecard1, scorecard2

In [31]:
# Function to find the lower limit above which will be classified significant score

def limit_finder(scorecard1, scorecard2):
    total_score = int(scorecard2.iloc[-1,-1]) + int(scorecard1.iloc[-1,-1])
    
    total_batsman_innings_1 = scorecard1.iloc[-1,1][0:1]  # First character of the score cell
    if total_batsman_innings_1 == 'A': # The All Out Case
        total_batsman_innings_1 = 11
    else:
        total_batsman_innings_1 = int(total_batsman_innings_1) + 2


    total_batsman_innings_2 = scorecard2.iloc[-1,1][0:1]  # First 1 character of the score cell
    if total_batsman_innings_2 == 'A': # The All Out Case
        total_batsman_innings_2 = 11
    else:
        total_batsman_innings_2 = int(total_batsman_innings_2) + 2


    total_batsman_in_the_match = total_batsman_innings_1 + total_batsman_innings_2


    min_score_required_to_be_classified = 30  # Anything below this is classified as non-significant
    min_limit_from_the_match = total_score/ total_batsman_in_the_match

    final_minimum_limit = max(min_score_required_to_be_classified, min_limit_from_the_match)
    return final_minimum_limit

In [32]:
# function to update database

def update_database(team, scorecard, final_minimum_limit):
    
    global teams_list
    global sig_innings_db
    global tot_innings_db
    
    # re-initialise these global variables before every worldcup
    
    if team not in teams_list:
        teams_list.append(team)
        # Initializing the counters
        sig_innings_db[tuple(["{0}".format(team), 'sig_count'])] = {
             1: 0,
             2: 0,
             3: 0,
             4: 0,
             5: 0,
             6: 0,
             7: 0,
             8: 0,
             9: 0,
             10:0,
             11:0
            } # Initializing the significant innings database if it does not exists

        tot_innings_db[tuple(["{0}".format(team), 'tot_count'])] = {
             1: 0,
             2: 0,
             3: 0,
             4: 0,
             5: 0,
             6: 0,
             7: 0,
             8: 0,
             9: 0,
             10:0,
             11:0
            } # Initializing the total innings database if it does not exists

    else:
        pass


    for position, score in enumerate(scorecard['R'][0:11],1):
        if score is not np.nan:
            if int(score) >= final_minimum_limit:
                sig_innings_db[tuple([team, 'sig_count'])][position] +=1 # sig score counter
                tot_innings_db[tuple([team, 'tot_count'])][position] +=1 # total innings counter
            else:
                tot_innings_db[tuple([team, 'tot_count'])][position] +=1 # only updates total innings counter
        else:
            pass # no update in any of the counters, because the batsman did not bat
        
    return

In [33]:
# Function to extract only scorecard links from the particular webpage

def extract_scorecard_links(url_year):
    req = Request(url_year)
    html_page = urlopen(req)

    soup = Soup(html_page, "lxml")

    links = []
    for link in soup.findAll('a'):
        links.append(link.get('href'))

    links = list(filter(None, links))   # Remove None links
    
    web_link_prefix = 'http://www.howstat.com/cricket/Statistics/Matches/'
    web_link_suffix = '&Print=Y'

    # The links with the string 'MatchScorecard' are the scorecards
    scorecard_year = []
    for _ in links:
        if 'MatchScorecard' in _:
            scorecard_year.append(web_link_prefix + _ + web_link_suffix)
    
    return scorecard_year

# Applying it for Worldcup 1975

In [34]:
links_1975 = extract_scorecard_links(url_1975)
links_1975

['http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0067&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0068&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0069&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0070&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0071&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0072&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0073&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0074&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0075&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0076&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0077&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0078&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0079&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0080&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0081&Print=Y']

In [35]:
# Initializing the counters-database and team list before every worldcup

teams_list = []
sig_innings_db = {}
tot_innings_db = {}

In [36]:
for link in links_1975:
    try:
        team1, team2, scorecard1, scorecard2 = scorecards_parsing(link)
        final_minimum_limit = limit_finder(scorecard1, scorecard2)
        update_database(team1, scorecard1, final_minimum_limit)
        update_database(team2, scorecard2, final_minimum_limit)
        time.sleep(0.5) # delaying to skip maximum retry error/ connection error
    except IndexError: # Index error will be there when the match is abandoned
        continue
    except TypeError: # Type error will be there when the match is abandoned after playing few overs
        continue

In [37]:
# Copying/ duplicating the yearly db for later use

teams_list_1975 = teams_list.copy()
sig_innings_db_1975 = sig_innings_db.copy()
tot_innings_db_1975 = tot_innings_db.copy()

In [38]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_1975)
df2 = pd.DataFrame(tot_innings_db_1975)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_1975 = df
df_1975

   Australia           East Africa  ... Sri Lanka West Indies
   sig_count tot_count   sig_count  ... tot_count   sig_count tot_count
1          3         5           1  ...         3           2         5
2          1         5           0  ...         3           2         5
3          1         5           0  ...         3           2         5
4          2         5           0  ...         3           1         4
5          2         5           2  ...         3           2         4
6          2         5           0  ...         3           0         3
7          1         5           0  ...         3           1         3
8          0         4           1  ...         3           1         2
9          0         3           0  ...         2           0         2
10         0         2           0  ...         2           0         2
11         0         2           0  ...         2           0         1

[11 rows x 16 columns]

It worked perfectly, let's combine the same for all worldcups

# Implementing it to every Worldcup

**1979**

In [39]:
# Resetting the counters and team database
teams_list = []
sig_innings_db = {}
tot_innings_db = {}

In [40]:
url_1979 = 'http://www.howstat.com/cricket/Statistics/Matches/MatchList_ODI.asp?Group=1979060919790623&Range=1979%20World%20Cup'

In [41]:
links_1979 = extract_scorecard_links(url_1979)

In [42]:
links_1979

['http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0109&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0110&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0111&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0112&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0113&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0114&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0115&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0116&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0117&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0118&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0119&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0120&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0121&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0122&Print=Y',
 'http://www.howstat.com/cricket/Statistics/Matches/MatchScorecard_ODI.asp?MatchCode=0123&Print=Y']

In [43]:
for link in links_1979:
    try:
        team1, team2, scorecard1, scorecard2 = scorecards_parsing(link)
        final_minimum_limit = limit_finder(scorecard1, scorecard2)
        update_database(team1, scorecard1, final_minimum_limit)
        update_database(team2, scorecard2, final_minimum_limit)
        time.sleep(0.5) # delay for skipping connection error
    except IndexError: # Index error is coming when the match is abandoned
        continue
    except TypeError: # Type error will be there when the match is abandoned after playing few overs
        continue

In [44]:
# Copying/ duplicating the yearly db for later use

teams_list_1979 = teams_list.copy()
sig_innings_db_1979 = sig_innings_db.copy()
tot_innings_db_1979 = tot_innings_db.copy()

In [45]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_1979)
df2 = pd.DataFrame(tot_innings_db_1979)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_1979 = df.copy()
df_1979

   Australia              Canada  ... Sri Lanka West Indies
   sig_count tot_count sig_count  ... tot_count   sig_count tot_count
1          1         3         0  ...         2           3         4
2          1         3         1  ...         2           2         4
3          1         3         0  ...         2           2         4
4          0         3         0  ...         2           2         3
5          1         3         0  ...         2           2         3
6          0         2         0  ...         2           1         3
7          0         2         0  ...         2           0         3
8          0         2         0  ...         1           0         3
9          0         2         0  ...         1           0         2
10         0         2         0  ...         1           0         1
11         0         2         0  ...         1           0         1

[11 rows x 16 columns]

**1983**

In [46]:
url_1983 = 'http://www.howstat.com/cricket/Statistics/Matches/MatchList_ODI.asp?Group=1983050119830630&Range=1983%20World%20Cup'
links_1983 = extract_scorecard_links(url_1983)

In [47]:
# Initializing the counters-database and team list before every worldcup

teams_list = []
sig_innings_db = {}
tot_innings_db = {}

In [48]:
for link in links_1983:
    try:
        team1, team2, scorecard1, scorecard2 = scorecards_parsing(link)
        final_minimum_limit = limit_finder(scorecard1, scorecard2)
        update_database(team1, scorecard1, final_minimum_limit)
        update_database(team2, scorecard2, final_minimum_limit)
        time.sleep(0.5) # delay for skipping connection error
    except IndexError: # Index error is coming when the match is abandoned
        continue
    except TypeError: # Type error will be there when the match is abandoned after playing few overs
        continue

In [49]:
# Copying/ duplicating the yearly db for later use

teams_list_1983 = teams_list.copy()
sig_innings_db_1983 = sig_innings_db.copy()
tot_innings_db_1983 = tot_innings_db.copy()

In [50]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_1983)
df2 = pd.DataFrame(tot_innings_db_1983)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_1983 = df.copy()
df_1983

   Australia             England  ... West Indies  Zimbabwe
   sig_count tot_count sig_count  ...   tot_count sig_count tot_count
1          2         6         5  ...           8         2         6
2          2         6         4  ...           8         0         6
3          3         6         4  ...           7         0         6
4          2         6         5  ...           7         0         6
5          3         6         1  ...           5         2         6
6          1         6         0  ...           4         2         6
7          2         6         1  ...           4         3         6
8          0         6         1  ...           4         1         6
9          0         5         0  ...           4         0         5
10         0         3         0  ...           4         0         4
11         0         3         0  ...           3         0         4

[11 rows x 16 columns]

**1987**

In [51]:
# Initializing the counters-database and team list before every worldcup

teams_list = []
sig_innings_db = {}
tot_innings_db = {}

In [52]:
url_1987 = 'http://www.howstat.com/cricket/Statistics/Matches/MatchList_ODI.asp?Group=1987100119871108&Range=1987-1988%20World%20Cup'
links_1987 = extract_scorecard_links(url_1987)

for link in links_1987:
    try:
        team1, team2, scorecard1, scorecard2 = scorecards_parsing(link)
        final_minimum_limit = limit_finder(scorecard1, scorecard2)
        update_database(team1, scorecard1, final_minimum_limit)
        update_database(team2, scorecard2, final_minimum_limit)
        time.sleep(0.5) # delay for skipping connection error
    except IndexError: # Index error is coming when the match is abandoned
        continue
    except TypeError: # Type error will be there when the match is abandoned after playing few overs
        continue

In [53]:
# Copying/ duplicating the yearly db for later use

teams_list_1987 = teams_list.copy()
sig_innings_db_1987 = sig_innings_db.copy()
tot_innings_db_1987 = tot_innings_db.copy()

In [54]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_1987)
df2 = pd.DataFrame(tot_innings_db_1987)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_1987 = df.copy()
df_1987

   Australia             England  ... West Indies  Zimbabwe
   sig_count tot_count sig_count  ...   tot_count sig_count tot_count
1          8         8         6  ...           6         1         6
2          4         8         2  ...           6         2         6
3          7         8         5  ...           6         3         6
4          2         8         6  ...           6         3         6
5          4         8         6  ...           6         2         6
6          3         8         0  ...           6         1         6
7          0         7         0  ...           5         0         6
8          0         4         0  ...           5         0         5
9          0         4         0  ...           5         1         4
10         0         4         0  ...           3         0         3
11         0         1         0  ...           2         0         3

[11 rows x 16 columns]

**1992**

In [55]:
# Initializing the counters-database and team list before every worldcup

teams_list = []
sig_innings_db = {}
tot_innings_db = {}

In [56]:
url_1992 = 'http://www.howstat.com/cricket/Statistics/Matches/MatchList_ODI.asp?Group=1992022219920331&Range=1992%20World%20Cup'
links_1992 = extract_scorecard_links(url_1992)

for link in links_1992:
    try:
        team1, team2, scorecard1, scorecard2 = scorecards_parsing(link)
        final_minimum_limit = limit_finder(scorecard1, scorecard2)
        update_database(team1, scorecard1, final_minimum_limit)
        update_database(team2, scorecard2, final_minimum_limit)
        time.sleep(0.5) # delay for skipping connection error
    except IndexError: # Index error will be there when the match is completely abandoned
        continue
    except TypeError: # Type error will be there when the match is abandoned after playing few overs
        continue

In [57]:
# Copying/ duplicating the yearly db for later use

teams_list_1992 = teams_list.copy()
sig_innings_db_1992 = sig_innings_db.copy()
tot_innings_db_1992 = tot_innings_db.copy()

In [58]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_1992)
df2 = pd.DataFrame(tot_innings_db_1992)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_1992 = df.copy()
df_1992

   Australia             England  ... West Indies  Zimbabwe
   sig_count tot_count sig_count  ...   tot_count sig_count tot_count
1          4         8         5  ...           8         3         8
2          4         8         2  ...           8         1         8
3          2         8         4  ...           8         0         8
4          2         8         4  ...           7         2         7
5          2         8         3  ...           7         2         7
6          1         7         2  ...           7         2         7
7          1         7         1  ...           7         2         6
8          0         7         0  ...           6         0         6
9          0         5         0  ...           6         0         6
10         0         5         0  ...           4         0         4
11         0         4         0  ...           3         0         3

[11 rows x 18 columns]

**1996**

In [59]:
# Initializing the counters-database and team list before every worldcup

teams_list = []
sig_innings_db = {}
tot_innings_db = {}

In [60]:
url_1996 = 'http://www.howstat.com/cricket/Statistics/Matches/MatchList_ODI.asp?Group=1996020119960317&Range=1996%20World%20Cup'
links_1996 = extract_scorecard_links(url_1996)

for link in links_1996:
    try:
        team1, team2, scorecard1, scorecard2 = scorecards_parsing(link)
        final_minimum_limit = limit_finder(scorecard1, scorecard2)
        update_database(team1, scorecard1, final_minimum_limit)
        update_database(team2, scorecard2, final_minimum_limit)
        time.sleep(0.5) # delay for skipping connection error
    except IndexError: # Index error is coming when the match is abandoned
        continue
    except TypeError: # Type error will be there when the match is abandoned after playing few overs
        continue

In [61]:
# Copying/ duplicating the yearly db for later use

teams_list_1996 = teams_list.copy()
sig_innings_db_1996 = sig_innings_db.copy()
tot_innings_db_1996 = tot_innings_db.copy()

In [62]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_1996)
df2 = pd.DataFrame(tot_innings_db_1996)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_1996 = df.copy()
df_1996

   Australia             England  ... West Indies  Zimbabwe
   sig_count tot_count sig_count  ...   tot_count sig_count tot_count
1          4         7         1  ...           6         2         6
2          4         7         2  ...           6         3         6
3          3         7         3  ...           6         1         6
4          2         7         3  ...           6         2         6
5          3         6         2  ...           6         0         6
6          2         6         0  ...           6         2         6
7          2         5         0  ...           5         1         6
8          0         5         1  ...           5         1         5
9          0         4         0  ...           4         0         4
10         0         1         0  ...           4         0         3
11         0         1         0  ...           3         0         3

[11 rows x 24 columns]

**1999**

In [63]:
# Initializing the counters-database and team list before every worldcup

teams_list = []
sig_innings_db = {}
tot_innings_db = {}

In [64]:
url_1999 = 'http://www.howstat.com/cricket/Statistics/Matches/MatchList_ODI.asp?Group=1999050119990630&Range=1999%20World%20Cup'

links_1999 = extract_scorecard_links(url_1999)

for link in links_1999:
    try:
        team1, team2, scorecard1, scorecard2 = scorecards_parsing(link)
        final_minimum_limit = limit_finder(scorecard1, scorecard2)
        update_database(team1, scorecard1, final_minimum_limit)
        update_database(team2, scorecard2, final_minimum_limit)
        time.sleep(0.5) # delay for skipping connection error
    except IndexError: # Index error is coming when the match is abandoned
        continue
    except TypeError: # Type error will be there when the match is abandoned after playing few overs
        continue

In [65]:
# Copying/ duplicating the yearly db for later use

teams_list_1999 = teams_list.copy()
sig_innings_db_1999 = sig_innings_db.copy()
tot_innings_db_1999 = tot_innings_db.copy()

In [66]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_1999)
df2 = pd.DataFrame(tot_innings_db_1999)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_1999 = df.copy()
df_1999

   Australia           Bangladesh  ... West Indies  Zimbabwe
   sig_count tot_count  sig_count  ...   tot_count sig_count tot_count
1          3        10          1  ...           5         4         8
2          6        10          2  ...           5         3         8
3          5        10          1  ...           5         3         8
4          2        10          0  ...           5         0         8
5          6         9          0  ...           4         4         8
6          2         8          3  ...           2         1         8
7          0         6          1  ...           2         0         8
8          0         4          0  ...           2         0         7
9          0         3          0  ...           2         0         5
10         0         3          0  ...           2         0         5
11         0         2          0  ...           2         0         4

[11 rows x 24 columns]

**2003**

In [67]:
# Initializing the counters-database and team list before every worldcup

teams_list = []
sig_innings_db = {}
tot_innings_db = {}

In [68]:
url_2003 = 'http://www.howstat.com/cricket/Statistics/Matches/MatchList_ODI.asp?Group=2003020920030323&Range=2003%20World%20Cup'


links_2003 = extract_scorecard_links(url_2003)

for link in links_2003:
    try:
        team1, team2, scorecard1, scorecard2 = scorecards_parsing(link)
        final_minimum_limit = limit_finder(scorecard1, scorecard2)
        update_database(team1, scorecard1, final_minimum_limit)
        update_database(team2, scorecard2, final_minimum_limit)
        time.sleep(0.5) # delay for skipping connection error
    except IndexError: # Index error is coming when the match is abandoned
        continue
    except TypeError: # Type error will be there when the match is abandoned after playing few overs
        continue

In [69]:
# Copying/ duplicating the yearly db for later use

teams_list_2003 = teams_list.copy()
sig_innings_db_2003 = sig_innings_db.copy()
tot_innings_db_2003 = tot_innings_db.copy()

In [70]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_2003)
df2 = pd.DataFrame(tot_innings_db_2003)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_2003 = df.copy()
df_2003

   Australia           Bangladesh  ... West Indies  Zimbabwe
   sig_count tot_count  sig_count  ...   tot_count sig_count tot_count
1          5        11          0  ...           6         2         7
2          4        11          1  ...           6         0         7
3          5        11          1  ...           6         4         7
4          7        10          0  ...           6         4         7
5          3         8          0  ...           6         2         6
6          4         7          2  ...           5         2         6
7          1         7          1  ...           5         1         6
8          0         5          0  ...           4         2         6
9          1         4          1  ...           4         0         6
10         1         3          0  ...           3         0         4
11         0         1          0  ...           3         0         4

[11 rows x 28 columns]

**2007**

In [71]:
# Initializing the counters-database and team list before every worldcup

teams_list = []
sig_innings_db = {}
tot_innings_db = {}

In [72]:
url_2007 = 'http://www.howstat.com/cricket/Statistics/Matches/MatchList_ODI.asp?Group=2007031320070428&Range=2007%20World%20Cup'

links_2007 = extract_scorecard_links(url_2007)

for link in links_2007:
    try:
        team1, team2, scorecard1, scorecard2 = scorecards_parsing(link)
        final_minimum_limit = limit_finder(scorecard1, scorecard2)
        update_database(team1, scorecard1, final_minimum_limit)
        update_database(team2, scorecard2, final_minimum_limit)
        time.sleep(0.5) # delay for skipping connection error
    except IndexError: # Index error is coming when the match is abandoned
        continue
    except TypeError: # Type error will be there when the match is abandoned after playing few overs
        continue

In [73]:
# Copying/ duplicating the yearly db for later use

teams_list_2007 = teams_list.copy()
sig_innings_db_2007 = sig_innings_db.copy()
tot_innings_db_2007 = tot_innings_db.copy()

In [74]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_2007)
df2 = pd.DataFrame(tot_innings_db_2007)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_2007 = df.copy()
df_2007

   Australia           Bangladesh  ... West Indies  Zimbabwe
   sig_count tot_count  sig_count  ...   tot_count sig_count tot_count
1          6        10          1  ...           9         0         3
2          9        10          1  ...           9         1         3
3          6         9          1  ...           9         0         3
4          5         8          0  ...           9         1         3
5          3         8          4  ...           8         1         3
6          0         5          2  ...           8         1         3
7          2         4          2  ...           7         0         3
8          1         3          1  ...           6         0         2
9          0         0          1  ...           6         0         2
10         0         0          0  ...           6         0         2
11         0         0          0  ...           6         0         2

[11 rows x 32 columns]

**2011**

In [75]:
# Initializing the counters-database and team list before every worldcup

teams_list = []
sig_innings_db = {}
tot_innings_db = {}

In [76]:
url_2011 = 'http://www.howstat.com/cricket/Statistics/Matches/MatchList_ODI.asp?Group=2011021920110402&Range=2011%20World%20Cup'

links_2011 = extract_scorecard_links(url_2011)

for link in links_2011:
    try:
        team1, team2, scorecard1, scorecard2 = scorecards_parsing(link)
        final_minimum_limit = limit_finder(scorecard1, scorecard2)
        update_database(team1, scorecard1, final_minimum_limit)
        update_database(team2, scorecard2, final_minimum_limit)
        time.sleep(0.5) # delay for skipping connection error
    except IndexError: # Index error is coming when the match is abandoned
        continue
    except TypeError: # Type error will be there when the match is abandoned after playing few overs
        continue

In [77]:
# Copying/ duplicating the yearly db for later use

teams_list_2011 = teams_list.copy()
sig_innings_db_2011 = sig_innings_db.copy()
tot_innings_db_2011 = tot_innings_db.copy()

In [78]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_2011)
df2 = pd.DataFrame(tot_innings_db_2011)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_2011 = df.copy()
df_2011

   Australia           Bangladesh  ... West Indies  Zimbabwe
   sig_count tot_count  sig_count  ...   tot_count sig_count tot_count
1          3         6          3  ...           7         2         6
2          5         6          2  ...           7         1         6
3          1         6          1  ...           7         2         6
4          3         6          3  ...           6         2         6
5          0         6          1  ...           6         2         6
6          1         4          2  ...           6         2         6
7          1         4          0  ...           6         1         6
8          0         4          0  ...           6         1         6
9          0         1          0  ...           6         1         5
10         0         1          0  ...           6         0         4
11         0         1          0  ...           5         0         4

[11 rows x 28 columns]

**2015**

In [79]:
# Initializing the counters-database and team list before every worldcup

teams_list = []
sig_innings_db = {}
tot_innings_db = {}

In [80]:
url_2015 = 'http://www.howstat.com/cricket/Statistics/Matches/MatchList_ODI.asp?Group=2015021420150329&Range=2014-2015%20World%20Cup'

links_2015 = extract_scorecard_links(url_2015)

for link in links_2015:
    try:
        team1, team2, scorecard1, scorecard2 = scorecards_parsing(link)
        final_minimum_limit = limit_finder(scorecard1, scorecard2)
        update_database(team1, scorecard1, final_minimum_limit)
        update_database(team2, scorecard2, final_minimum_limit)
        time.sleep(0.5) # delay for skipping connection error
    except IndexError: # Index error is coming when the match is abandoned
        continue
    except TypeError: # Type error will be there when the match is abandoned after playing few overs
        continue

In [81]:
# Copying/ duplicating the yearly db for later use

teams_list_2015 = teams_list.copy()
sig_innings_db_2015 = sig_innings_db.copy()
tot_innings_db_2015 = tot_innings_db.copy()

In [82]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_2015)
df2 = pd.DataFrame(tot_innings_db_2015)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_2015 = df.copy()
df_2015

   Afghanistan           Australia  ... West Indies  Zimbabwe
     sig_count tot_count sig_count  ...   tot_count sig_count tot_count
1            1         6         4  ...           7         2         6
2            0         6         2  ...           7         1         6
3            2         6         5  ...           7         1         6
4            2         6         3  ...           6         4         6
5            2         6         3  ...           6         5         6
6            2         6         3  ...           6         2         6
7            0         6         0  ...           5         1         6
8            1         6         2  ...           5         1         6
9            0         6         0  ...           4         0         5
10           0         5         0  ...           3         0         5
11           0         5         0  ...           3         0         5

[11 rows x 28 columns]

**2019**

In [83]:
# Initializing the counters-database and team list before every worldcup

teams_list = []
sig_innings_db = {}
tot_innings_db = {}

In [84]:
url_2019 = 'http://www.howstat.com/cricket/Statistics/Matches/MatchList_ODI.asp?Group=2019053020190714&Range=2019%20World%20Cup'

links_2019 = extract_scorecard_links(url_2019)

for link in links_2019:
    try:
        team1, team2, scorecard1, scorecard2 = scorecards_parsing(link)
        final_minimum_limit = limit_finder(scorecard1, scorecard2)
        update_database(team1, scorecard1, final_minimum_limit)
        update_database(team2, scorecard2, final_minimum_limit)
        time.sleep(0.5) # delay for skipping connection error
    except IndexError: # Index error is coming when the match is abandoned
        continue
    except TypeError: # Type error will be there when the match is abandoned after playing few overs
        continue

In [85]:
# Copying/ duplicating the yearly db for later use

teams_list_2019 = teams_list.copy()
sig_innings_db_2019 = sig_innings_db.copy()
tot_innings_db_2019 = tot_innings_db.copy()

In [86]:
# Displaying the table

df1 = pd.DataFrame(sig_innings_db_2019)
df2 = pd.DataFrame(tot_innings_db_2019)
df = pd.concat([df1, df2], axis = 1, sort = True)
df = df.reindex(sorted(df.columns), axis=1)
df_2019 = df.copy()

df_2019

   Afghanistan           Australia  ... West Indies  Zimbabwe
     sig_count tot_count sig_count  ...   tot_count sig_count tot_count
1            3         9         6  ...           8         0         5
2            5         9         5  ...           8         0         5
3            4         9         4  ...           8         3         5
4            2         9         4  ...           8         2         5
5            3         9         2  ...           8         2         5
6            3         9         0  ...           7         2         5
7            3         9         5  ...           7         1         5
8            0         9         1  ...           7         1         5
9            1         9         0  ...           6         2         4
10           0         9         0  ...           5         0         4
11           0         8         0  ...           5         0         3

[11 rows x 26 columns]

In [99]:
# To export databases to the py file
# Copy the output of this cell

years = [1975,1979,1983,1987,1992,1996,1999,2003,2007,2011,2015,2019]

for year in years:
    print("# ", year)
    print("#  ====")
    print('teams_list_'+ str(year) + ' =', locals()["teams_list_{}".format(year)])
    print('sig_innings_db_'+ str(year) + ' =', locals()["sig_innings_db_{}".format(year)])
    print('tot_innings_db_'+ str(year) + ' =', locals()["tot_innings_db_{}".format(year)])
    print("")

#  1975
#  ====
teams_list_1975 = ['England', 'India', 'New Zealand', 'East Africa', 'Australia', 'Pakistan', 'Sri Lanka', 'West Indies']
sig_innings_db_1975 = {('England', 'sig_count'): {1: 1, 2: 2, 3: 3, 4: 1, 5: 1, 6: 1, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('India', 'sig_count'): {1: 1, 2: 1, 3: 1, 4: 0, 5: 0, 6: 0, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('New Zealand', 'sig_count'): {1: 4, 2: 0, 3: 1, 4: 1, 5: 1, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('East Africa', 'sig_count'): {1: 1, 2: 0, 3: 0, 4: 0, 5: 2, 6: 0, 7: 0, 8: 1, 9: 0, 10: 0, 11: 0}, ('Australia', 'sig_count'): {1: 3, 2: 1, 3: 1, 4: 2, 5: 2, 6: 2, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('Pakistan', 'sig_count'): {1: 2, 2: 2, 3: 2, 4: 1, 5: 2, 6: 1, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Sri Lanka', 'sig_count'): {1: 1, 2: 0, 3: 1, 4: 0, 5: 1, 6: 1, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('West Indies', 'sig_count'): {1: 2, 2: 2, 3: 2, 4: 1, 5: 2, 6: 0, 7: 1, 8: 1, 9: 0, 10: 0, 11: 0}}
tot_innings_db_1975 = {('England', 'tot_count'): {1: 4, 2: 4, 3: 4, 4: 4, 5: 4, 6: 4, 7: 3, 8: 1, 9: 1, 10: 1, 11: 1}, ('India', 'tot_count'): {1: 3, 2: 3, 3: 2, 4: 2, 5: 2, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1, 11: 1}, ('New Zealand', 'tot_count'): {1: 4, 2: 4, 3: 4, 4: 4, 5: 4, 6: 4, 7: 4, 8: 3, 9: 2, 10: 2, 11: 2}, ('East Africa', 'tot_count'): {1: 3, 2: 3, 3: 3, 4: 3, 5: 3, 6: 3, 7: 3, 8: 3, 9: 3, 10: 3, 11: 2}, ('Australia', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 5, 5: 5, 6: 5, 7: 5, 8: 4, 9: 3, 10: 2, 11: 2}, ('Pakistan', 'tot_count'): {1: 3, 2: 3, 3: 3, 4: 3, 5: 3, 6: 3, 7: 3, 8: 3, 9: 2, 10: 1, 11: 1}, ('Sri Lanka', 'tot_count'): {1: 3, 2: 3, 3: 3, 4: 3, 5: 3, 6: 3, 7: 3, 8: 3, 9: 2, 10: 2, 11: 2}, ('West Indies', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 4, 5: 4, 6: 3, 7: 3, 8: 2, 9: 2, 10: 2, 11: 1}}

#  1979
#  ====
teams_list_1979 = ['India', 'West Indies', 'Sri Lanka', 'New Zealand', 'Australia', 'England', 'Canada', 'Pakistan']
sig_innings_db_1979 = {('India', 'sig_count'): {1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('West Indies', 'sig_count'): {1: 3, 2: 2, 3: 2, 4: 2, 5: 2, 6: 1, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Sri Lanka', 'sig_count'): {1: 0, 2: 1, 3: 2, 4: 1, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('New Zealand', 'sig_count'): {1: 3, 2: 2, 3: 2, 4: 1, 5: 1, 6: 1, 7: 0, 8: 1, 9: 0, 10: 0, 11: 0}, ('Australia', 'sig_count'): {1: 1, 2: 1, 3: 1, 4: 0, 5: 1, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('England', 'sig_count'): {1: 3, 2: 1, 3: 0, 4: 4, 5: 0, 6: 0, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('Canada', 'sig_count'): {1: 0, 2: 1, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Pakistan', 'sig_count'): {1: 1, 2: 2, 3: 2, 4: 1, 5: 1, 6: 1, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}}
tot_innings_db_1979 = {('India', 'tot_count'): {1: 3, 2: 3, 3: 3, 4: 3, 5: 3, 6: 3, 7: 3, 8: 3, 9: 3, 10: 3, 11: 3}, ('West Indies', 'tot_count'): {1: 4, 2: 4, 3: 4, 4: 3, 5: 3, 6: 3, 7: 3, 8: 3, 9: 2, 10: 1, 11: 1}, ('Sri Lanka', 'tot_count'): {1: 2, 2: 2, 3: 2, 4: 2, 5: 2, 6: 2, 7: 2, 8: 1, 9: 1, 10: 1, 11: 1}, ('New Zealand', 'tot_count'): {1: 4, 2: 4, 3: 4, 4: 3, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2, 10: 2, 11: 2}, ('Australia', 'tot_count'): {1: 3, 2: 3, 3: 3, 4: 3, 5: 3, 6: 2, 7: 2, 8: 2, 9: 2, 10: 2, 11: 2}, ('England', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 5, 5: 4, 6: 4, 7: 3, 8: 3, 9: 3, 10: 3, 11: 2}, ('Canada', 'tot_count'): {1: 3, 2: 3, 3: 3, 4: 3, 5: 3, 6: 3, 7: 3, 8: 3, 9: 3, 10: 3, 11: 2}, ('Pakistan', 'tot_count'): {1: 4, 2: 4, 3: 4, 4: 4, 5: 3, 6: 3, 7: 3, 8: 3, 9: 3, 10: 2, 11: 2}}

#  1983
#  ====
teams_list_1983 = ['England', 'New Zealand', 'Pakistan', 'Sri Lanka', 'Zimbabwe', 'Australia', 'India', 'West Indies']
sig_innings_db_1983 = {('England', 'sig_count'): {1: 5, 2: 4, 3: 4, 4: 5, 5: 1, 6: 0, 7: 1, 8: 1, 9: 0, 10: 0, 11: 0}, ('New Zealand', 'sig_count'): {1: 1, 2: 2, 3: 3, 4: 1, 5: 0, 6: 4, 7: 1, 8: 1, 9: 0, 10: 2, 11: 0}, ('Pakistan', 'sig_count'): {1: 4, 2: 1, 3: 1, 4: 5, 5: 4, 6: 0, 7: 2, 8: 1, 9: 1, 10: 0, 11: 0}, ('Sri Lanka', 'sig_count'): {1: 2, 2: 2, 3: 1, 4: 4, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 0, 11: 0}, ('Zimbabwe', 'sig_count'): {1: 2, 2: 0, 3: 0, 4: 0, 5: 2, 6: 2, 7: 3, 8: 1, 9: 0, 10: 0, 11: 0}, ('Australia', 'sig_count'): {1: 2, 2: 2, 3: 3, 4: 2, 5: 3, 6: 1, 7: 2, 8: 0, 9: 0, 10: 0, 11: 0}, ('India', 'sig_count'): {1: 0, 2: 2, 3: 3, 4: 5, 5: 3, 6: 1, 7: 2, 8: 0, 9: 0, 10: 0, 11: 0}, ('West Indies', 'sig_count'): {1: 3, 2: 2, 3: 4, 4: 4, 5: 0, 6: 1, 7: 0, 8: 0, 9: 1, 10: 0, 11: 1}}
tot_innings_db_1983 = {('England', 'tot_count'): {1: 7, 2: 7, 3: 7, 4: 6, 5: 5, 6: 4, 7: 4, 8: 4, 9: 3, 10: 3, 11: 2}, ('New Zealand', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 6, 8: 5, 9: 5, 10: 5, 11: 4}, ('Pakistan', 'tot_count'): {1: 7, 2: 7, 3: 7, 4: 7, 5: 7, 6: 6, 7: 6, 8: 5, 9: 5, 10: 4, 11: 1}, ('Sri Lanka', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 6, 8: 6, 9: 6, 10: 5, 11: 5}, ('Zimbabwe', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 6, 8: 6, 9: 5, 10: 4, 11: 4}, ('Australia', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 6, 8: 6, 9: 5, 10: 3, 11: 3}, ('India', 'tot_count'): {1: 8, 2: 8, 3: 8, 4: 8, 5: 8, 6: 8, 7: 7, 8: 6, 9: 6, 10: 6, 11: 4}, ('West Indies', 'tot_count'): {1: 8, 2: 8, 3: 7, 4: 7, 5: 5, 6: 4, 7: 4, 8: 4, 9: 4, 10: 4, 11: 3}}

#  1987
#  ====
teams_list_1987 = ['Pakistan', 'Sri Lanka', 'West Indies', 'England', 'Australia', 'India', 'New Zealand', 'Zimbabwe']
sig_innings_db_1987 = {('Pakistan', 'sig_count'): {1: 5, 2: 2, 3: 3, 4: 4, 5: 3, 6: 1, 7: 2, 8: 0, 9: 0, 10: 0, 11: 0}, ('Sri Lanka', 'sig_count'): {1: 0, 2: 2, 3: 1, 4: 2, 5: 4, 6: 2, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('West Indies', 'sig_count'): {1: 2, 2: 2, 3: 3, 4: 4, 5: 2, 6: 1, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('England', 'sig_count'): {1: 6, 2: 2, 3: 5, 4: 6, 5: 6, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Australia', 'sig_count'): {1: 8, 2: 4, 3: 7, 4: 2, 5: 4, 6: 3, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('India', 'sig_count'): {1: 4, 2: 5, 3: 5, 4: 4, 5: 1, 6: 2, 7: 1, 8: 0, 9: 1, 10: 0, 11: 0}, ('New Zealand', 'sig_count'): {1: 5, 2: 3, 3: 3, 4: 2, 5: 3, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Zimbabwe', 'sig_count'): {1: 1, 2: 2, 3: 3, 4: 3, 5: 2, 6: 1, 7: 0, 8: 0, 9: 1, 10: 0, 11: 0}}
tot_innings_db_1987 = {('Pakistan', 'tot_count'): {1: 7, 2: 7, 3: 7, 4: 7, 5: 7, 6: 6, 7: 6, 8: 6, 9: 5, 10: 3, 11: 3}, ('Sri Lanka', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 5, 8: 5, 9: 5, 10: 4, 11: 1}, ('West Indies', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 5, 8: 5, 9: 5, 10: 3, 11: 2}, ('England', 'tot_count'): {1: 8, 2: 8, 3: 8, 4: 8, 5: 7, 6: 7, 7: 6, 8: 5, 9: 4, 10: 4, 11: 2}, ('Australia', 'tot_count'): {1: 8, 2: 8, 3: 8, 4: 8, 5: 8, 6: 8, 7: 7, 8: 4, 9: 4, 10: 4, 11: 1}, ('India', 'tot_count'): {1: 7, 2: 7, 3: 7, 4: 6, 5: 5, 6: 4, 7: 4, 8: 4, 9: 3, 10: 2, 11: 2}, ('New Zealand', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 6, 8: 6, 9: 5, 10: 4, 11: 2}, ('Zimbabwe', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 6, 8: 5, 9: 4, 10: 3, 11: 3}}

#  1992
#  ====
teams_list_1992 = ['New Zealand', 'Australia', 'England', 'India', 'Zimbabwe', 'Sri Lanka', 'Pakistan', 'West Indies', 'South Africa']
sig_innings_db_1992 = {('New Zealand', 'sig_count'): {1: 6, 2: 1, 3: 5, 4: 5, 5: 3, 6: 0, 7: 0, 8: 0, 9: 1, 10: 0, 11: 0}, ('Australia', 'sig_count'): {1: 4, 2: 4, 3: 2, 4: 2, 5: 2, 6: 1, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('England', 'sig_count'): {1: 5, 2: 2, 3: 4, 4: 4, 5: 3, 6: 2, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('India', 'sig_count'): {1: 3, 2: 2, 3: 5, 4: 3, 5: 3, 6: 2, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('Zimbabwe', 'sig_count'): {1: 3, 2: 1, 3: 0, 4: 2, 5: 2, 6: 2, 7: 2, 8: 0, 9: 0, 10: 0, 11: 0}, ('Sri Lanka', 'sig_count'): {1: 3, 2: 4, 3: 0, 4: 3, 5: 3, 6: 1, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Pakistan', 'sig_count'): {1: 3, 2: 5, 3: 3, 4: 8, 5: 2, 6: 2, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('West Indies', 'sig_count'): {1: 4, 2: 5, 3: 2, 4: 1, 5: 4, 6: 1, 7: 1, 8: 1, 9: 0, 10: 0, 11: 0}, ('South Africa', 'sig_count'): {1: 6, 2: 3, 3: 6, 4: 1, 5: 0, 6: 2, 7: 1, 8: 1, 9: 0, 10: 0, 11: 0}}
tot_innings_db_1992 = {('New Zealand', 'tot_count'): {1: 9, 2: 9, 3: 9, 4: 9, 5: 9, 6: 6, 7: 5, 8: 4, 9: 2, 10: 1, 11: 1}, ('Australia', 'tot_count'): {1: 8, 2: 8, 3: 8, 4: 8, 5: 8, 6: 7, 7: 7, 8: 7, 9: 5, 10: 5, 11: 4}, ('England', 'tot_count'): {1: 10, 2: 10, 3: 10, 4: 9, 5: 8, 6: 8, 7: 7, 8: 7, 9: 5, 10: 4, 11: 3}, ('India', 'tot_count'): {1: 7, 2: 7, 3: 7, 4: 7, 5: 7, 6: 7, 7: 7, 8: 7, 9: 6, 10: 3, 11: 3}, ('Zimbabwe', 'tot_count'): {1: 8, 2: 8, 3: 8, 4: 7, 5: 7, 6: 7, 7: 6, 8: 6, 9: 6, 10: 4, 11: 3}, ('Sri Lanka', 'tot_count'): {1: 7, 2: 7, 3: 7, 4: 7, 5: 7, 6: 7, 7: 7, 8: 7, 9: 6, 10: 4, 11: 3}, ('Pakistan', 'tot_count'): {1: 10, 2: 10, 3: 10, 4: 10, 5: 9, 6: 8, 7: 7, 8: 6, 9: 4, 10: 4, 11: 2}, ('West Indies', 'tot_count'): {1: 8, 2: 8, 3: 8, 4: 7, 5: 7, 6: 7, 7: 7, 8: 6, 9: 6, 10: 4, 11: 3}, ('South Africa', 'tot_count'): {1: 9, 2: 9, 3: 9, 4: 8, 5: 8, 6: 7, 7: 5, 8: 5, 9: 4, 10: 2, 11: 1}}

#  1996
#  ====
teams_list_1996 = ['Zimbabwe', 'New Zealand', 'England', 'South Africa', 'United Arab Emirates', 'West Indies', 'Netherlands', 'Kenya', 'India', 'Sri Lanka', 'Australia', 'Pakistan']
sig_innings_db_1996 = {('Zimbabwe', 'sig_count'): {1: 2, 2: 3, 3: 1, 4: 2, 5: 0, 6: 2, 7: 1, 8: 1, 9: 0, 10: 0, 11: 0}, ('New Zealand', 'sig_count'): {1: 2, 2: 2, 3: 5, 4: 3, 5: 3, 6: 2, 7: 2, 8: 0, 9: 1, 10: 0, 11: 0}, ('England', 'sig_count'): {1: 1, 2: 2, 3: 3, 4: 3, 5: 2, 6: 0, 7: 0, 8: 1, 9: 0, 10: 0, 11: 0}, ('South Africa', 'sig_count'): {1: 5, 2: 3, 3: 4, 4: 4, 5: 0, 6: 2, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('United Arab Emirates', 'sig_count'): {1: 1, 2: 1, 3: 1, 4: 0, 5: 1, 6: 1, 7: 0, 8: 0, 9: 1, 10: 1, 11: 0}, ('West Indies', 'sig_count'): {1: 3, 2: 2, 3: 4, 4: 3, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Netherlands', 'sig_count'): {1: 0, 2: 2, 3: 2, 4: 2, 5: 3, 6: 1, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('Kenya', 'sig_count'): {1: 2, 2: 0, 3: 2, 4: 1, 5: 2, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('India', 'sig_count'): {1: 3, 2: 6, 3: 0, 4: 2, 5: 3, 6: 2, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Sri Lanka', 'sig_count'): {1: 3, 2: 0, 3: 4, 4: 5, 5: 3, 6: 2, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('Australia', 'sig_count'): {1: 4, 2: 4, 3: 3, 4: 2, 5: 3, 6: 2, 7: 2, 8: 0, 9: 0, 10: 0, 11: 0}, ('Pakistan', 'sig_count'): {1: 4, 2: 5, 3: 3, 4: 2, 5: 2, 6: 2, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}}
tot_innings_db_1996 = {('Zimbabwe', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 6, 8: 5, 9: 4, 10: 3, 11: 3}, ('New Zealand', 'tot_count'): {1: 7, 2: 7, 3: 7, 4: 7, 5: 7, 6: 7, 7: 7, 8: 7, 9: 6, 10: 6, 11: 2}, ('England', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 5, 7: 4, 8: 4, 9: 4, 10: 4, 11: 3}, ('South Africa', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 5, 6: 4, 7: 4, 8: 2, 9: 2, 10: 2, 11: 2}, ('United Arab Emirates', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 5, 5: 5, 6: 4, 7: 4, 8: 4, 9: 4, 10: 4, 11: 3}, ('West Indies', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 5, 8: 5, 9: 4, 10: 4, 11: 3}, ('Netherlands', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 5, 5: 5, 6: 5, 7: 5, 8: 5, 9: 3, 10: 2, 11: 1}, ('Kenya', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 5, 5: 5, 6: 5, 7: 5, 8: 5, 9: 4, 10: 2, 11: 2}, ('India', 'tot_count'): {1: 7, 2: 7, 3: 7, 4: 7, 5: 7, 6: 5, 7: 5, 8: 3, 9: 3, 10: 3, 11: 1}, ('Sri Lanka', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 5, 7: 3, 8: 1, 9: 1, 10: 1, 11: 1}, ('Australia', 'tot_count'): {1: 7, 2: 7, 3: 7, 4: 7, 5: 6, 6: 6, 7: 5, 8: 5, 9: 4, 10: 1, 11: 1}, ('Pakistan', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 5, 5: 4, 6: 3, 7: 3, 8: 2, 9: 1, 10: 1, 11: 1}}

#  1999
#  ====
teams_list_1999 = ['Sri Lanka', 'England', 'India', 'South Africa', 'Kenya', 'Zimbabwe', 'Scotland', 'Australia', 'Pakistan', 'West Indies', 'Bangladesh', 'New Zealand']
sig_innings_db_1999 = {('Sri Lanka', 'sig_count'): {1: 1, 2: 1, 3: 2, 4: 1, 5: 2, 6: 3, 7: 3, 8: 0, 9: 0, 10: 0, 11: 0}, ('England', 'sig_count'): {1: 3, 2: 1, 3: 2, 4: 2, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('India', 'sig_count'): {1: 4, 2: 2, 3: 5, 4: 3, 5: 2, 6: 3, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('South Africa', 'sig_count'): {1: 2, 2: 5, 3: 2, 4: 3, 5: 5, 6: 3, 7: 3, 8: 3, 9: 2, 10: 0, 11: 0}, ('Kenya', 'sig_count'): {1: 1, 2: 3, 3: 1, 4: 1, 5: 0, 6: 2, 7: 2, 8: 0, 9: 0, 10: 0, 11: 0}, ('Zimbabwe', 'sig_count'): {1: 4, 2: 3, 3: 3, 4: 0, 5: 4, 6: 1, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Scotland', 'sig_count'): {1: 0, 2: 0, 3: 0, 4: 0, 5: 1, 6: 3, 7: 0, 8: 1, 9: 0, 10: 0, 11: 0}, ('Australia', 'sig_count'): {1: 3, 2: 6, 3: 5, 4: 2, 5: 6, 6: 2, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Pakistan', 'sig_count'): {1: 3, 2: 2, 3: 3, 4: 2, 5: 3, 6: 2, 7: 5, 8: 3, 9: 0, 10: 0, 11: 0}, ('West Indies', 'sig_count'): {1: 1, 2: 4, 3: 1, 4: 1, 5: 1, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Bangladesh', 'sig_count'): {1: 1, 2: 2, 3: 1, 4: 0, 5: 0, 6: 3, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('New Zealand', 'sig_count'): {1: 3, 2: 0, 3: 1, 4: 4, 5: 5, 6: 2, 7: 0, 8: 2, 9: 0, 10: 0, 11: 0}}
tot_innings_db_1999 = {('Sri Lanka', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 5, 5: 5, 6: 5, 7: 5, 8: 5, 9: 4, 10: 4, 11: 3}, ('England', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 4, 5: 3, 6: 2, 7: 2, 8: 2, 9: 2, 10: 2, 11: 2}, ('India', 'tot_count'): {1: 8, 2: 8, 3: 8, 4: 8, 5: 7, 6: 7, 7: 7, 8: 5, 9: 3, 10: 3, 11: 2}, ('South Africa', 'tot_count'): {1: 9, 2: 9, 3: 9, 4: 9, 5: 9, 6: 8, 7: 8, 8: 7, 9: 5, 10: 3, 11: 3}, ('Kenya', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 5, 5: 5, 6: 5, 7: 5, 8: 5, 9: 4, 10: 2, 11: 2}, ('Zimbabwe', 'tot_count'): {1: 8, 2: 8, 3: 8, 4: 8, 5: 8, 6: 8, 7: 8, 8: 7, 9: 5, 10: 5, 11: 4}, ('Scotland', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 5, 5: 5, 6: 5, 7: 5, 8: 5, 9: 5, 10: 4, 11: 4}, ('Australia', 'tot_count'): {1: 10, 2: 10, 3: 10, 4: 10, 5: 9, 6: 8, 7: 6, 8: 4, 9: 3, 10: 3, 11: 2}, ('Pakistan', 'tot_count'): {1: 10, 2: 10, 3: 10, 4: 9, 5: 9, 6: 9, 7: 9, 8: 9, 9: 8, 10: 7, 11: 4}, ('West Indies', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 5, 5: 4, 6: 2, 7: 2, 8: 2, 9: 2, 10: 2, 11: 2}, ('Bangladesh', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 5, 5: 5, 6: 5, 7: 5, 8: 5, 9: 5, 10: 4, 11: 4}, ('New Zealand', 'tot_count'): {1: 9, 2: 9, 3: 9, 4: 9, 5: 9, 6: 8, 7: 6, 8: 4, 9: 4, 10: 3, 11: 1}}

#  2003
#  ====
teams_list_2003 = ['West Indies', 'South Africa', 'Zimbabwe', 'Namibia', 'Sri Lanka', 'New Zealand', 'Australia', 'Pakistan', 'Canada', 'Bangladesh', 'Kenya', 'India', 'Netherlands', 'England']
sig_innings_db_2003 = {('West Indies', 'sig_count'): {1: 2, 2: 2, 3: 3, 4: 3, 5: 2, 6: 3, 7: 2, 8: 1, 9: 0, 10: 0, 11: 0}, ('South Africa', 'sig_count'): {1: 4, 2: 5, 3: 0, 4: 0, 5: 1, 6: 2, 7: 1, 8: 1, 9: 0, 10: 0, 11: 0}, ('Zimbabwe', 'sig_count'): {1: 2, 2: 0, 3: 4, 4: 4, 5: 2, 6: 2, 7: 1, 8: 2, 9: 0, 10: 0, 11: 0}, ('Namibia', 'sig_count'): {1: 1, 2: 2, 3: 1, 4: 2, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Sri Lanka', 'sig_count'): {1: 3, 2: 3, 3: 3, 4: 1, 5: 3, 6: 3, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('New Zealand', 'sig_count'): {1: 1, 2: 5, 3: 3, 4: 3, 5: 5, 6: 1, 7: 1, 8: 1, 9: 1, 10: 0, 11: 0}, ('Australia', 'sig_count'): {1: 5, 2: 4, 3: 5, 4: 7, 5: 3, 6: 4, 7: 1, 8: 0, 9: 1, 10: 1, 11: 0}, ('Pakistan', 'sig_count'): {1: 2, 2: 1, 3: 2, 4: 0, 5: 2, 6: 1, 7: 0, 8: 1, 9: 1, 10: 0, 11: 1}, ('Canada', 'sig_count'): {1: 1, 2: 3, 3: 0, 4: 2, 5: 1, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Bangladesh', 'sig_count'): {1: 0, 2: 1, 3: 1, 4: 0, 5: 0, 6: 2, 7: 1, 8: 0, 9: 1, 10: 0, 11: 0}, ('Kenya', 'sig_count'): {1: 2, 2: 5, 3: 2, 4: 1, 5: 4, 6: 2, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('India', 'sig_count'): {1: 4, 2: 8, 3: 4, 4: 2, 5: 6, 6: 3, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('Netherlands', 'sig_count'): {1: 1, 2: 1, 3: 1, 4: 1, 5: 0, 6: 2, 7: 0, 8: 0, 9: 1, 10: 0, 11: 0}, ('England', 'sig_count'): {1: 2, 2: 2, 3: 2, 4: 1, 5: 3, 6: 1, 7: 2, 8: 1, 9: 0, 10: 0, 11: 0}}
tot_innings_db_2003 = {('West Indies', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 5, 7: 5, 8: 4, 9: 4, 10: 3, 11: 3}, ('South Africa', 'tot_count'): {1: 6, 2: 6, 3: 4, 4: 4, 5: 4, 6: 4, 7: 4, 8: 4, 9: 2, 10: 2, 11: 1}, ('Zimbabwe', 'tot_count'): {1: 7, 2: 7, 3: 7, 4: 7, 5: 6, 6: 6, 7: 6, 8: 6, 9: 6, 10: 4, 11: 4}, ('Namibia', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 6, 8: 5, 9: 5, 10: 5, 11: 5}, ('Sri Lanka', 'tot_count'): {1: 10, 2: 10, 3: 9, 4: 8, 5: 8, 6: 8, 7: 8, 8: 7, 9: 6, 10: 4, 11: 3}, ('New Zealand', 'tot_count'): {1: 8, 2: 8, 3: 8, 4: 7, 5: 7, 6: 6, 7: 5, 8: 4, 9: 4, 10: 3, 11: 3}, ('Australia', 'tot_count'): {1: 11, 2: 11, 3: 11, 4: 10, 5: 8, 6: 7, 7: 7, 8: 5, 9: 4, 10: 3, 11: 1}, ('Pakistan', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 5, 5: 5, 6: 5, 7: 5, 8: 5, 9: 5, 10: 4, 11: 4}, ('Canada', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 6, 8: 5, 9: 5, 10: 5, 11: 5}, ('Bangladesh', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 5, 6: 5, 7: 5, 8: 5, 9: 5, 10: 4, 11: 4}, ('Kenya', 'tot_count'): {1: 9, 2: 9, 3: 9, 4: 9, 5: 9, 6: 8, 7: 8, 8: 8, 9: 6, 10: 5, 11: 4}, ('India', 'tot_count'): {1: 11, 2: 11, 3: 11, 4: 11, 5: 10, 6: 9, 7: 6, 8: 6, 9: 5, 10: 4, 11: 3}, ('Netherlands', 'tot_count'): {1: 6, 2: 6, 3: 6, 4: 6, 5: 6, 6: 6, 7: 5, 8: 5, 9: 5, 10: 5, 11: 5}, ('England', 'tot_count'): {1: 5, 2: 5, 3: 5, 4: 5, 5: 5, 6: 5, 7: 4, 8: 4, 9: 4, 10: 4, 11: 2}}

#  2007
#  ====
teams_list_2007 = ['West Indies', 'Pakistan', 'Australia', 'Scotland', 'Sri Lanka', 'Bermuda', 'Ireland', 'Zimbabwe', 'England', 'New Zealand', 'South Africa', 'Netherlands', 'India', 'Bangladesh', 'Canada', 'Kenya']
sig_innings_db_2007 = {('West Indies', 'sig_count'): {1: 3, 2: 2, 3: 4, 4: 3, 5: 7, 6: 3, 7: 1, 8: 1, 9: 0, 10: 1, 11: 0}, ('Pakistan', 'sig_count'): {1: 0, 2: 1, 3: 0, 4: 2, 5: 1, 6: 1, 7: 0, 8: 0, 9: 1, 10: 0, 11: 0}, ('Australia', 'sig_count'): {1: 6, 2: 9, 3: 6, 4: 5, 5: 3, 6: 0, 7: 2, 8: 1, 9: 0, 10: 0, 11: 0}, ('Scotland', 'sig_count'): {1: 0, 2: 0, 3: 1, 4: 0, 5: 0, 6: 1, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('Sri Lanka', 'sig_count'): {1: 4, 2: 4, 3: 4, 4: 7, 5: 4, 6: 4, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}, ('Bermuda', 'sig_count'): {1: 0, 2: 0, 3: 0, 4: 1, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Ireland', 'sig_count'): {1: 3, 2: 2, 3: 0, 4: 3, 5: 3, 6: 1, 7: 0, 8: 1, 9: 0, 10: 0, 11: 0}, ('Zimbabwe', 'sig_count'): {1: 0, 2: 1, 3: 0, 4: 1, 5: 1, 6: 1, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('England', 'sig_count'): {1: 3, 2: 3, 3: 3, 4: 6, 5: 4, 6: 1, 7: 1, 8: 3, 9: 0, 10: 0, 11: 0}, ('New Zealand', 'sig_count'): {1: 4, 2: 5, 3: 3, 4: 6, 5: 3, 6: 3, 7: 2, 8: 0, 9: 2, 10: 0, 11: 1}, ('South Africa', 'sig_count'): {1: 4, 2: 4, 3: 5, 4: 5, 5: 4, 6: 0, 7: 2, 8: 0, 9: 0, 10: 0, 11: 0}, ('Netherlands', 'sig_count'): {1: 1, 2: 0, 3: 0, 4: 2, 5: 0, 6: 1, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('India', 'sig_count'): {1: 1, 2: 1, 3: 2, 4: 0, 5: 2, 6: 2, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0}, ('Bangladesh', 'sig_count'): {1: 1, 2: 1, 3: 1, 4: 0, 5: 4, 6: 2, 7: 2, 8: 1, 9: 1, 10: 0, 11: 0}, ('Canada', 'sig_count'): {1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 0, 8: 1, 9: 0, 10: 0, 11: 0}, ('Kenya', 'sig_count'): {1: 0, 2: 0, 3: 1, 4: 1, 5: 0, 6: 0, 7: 1, 8: 0, 9: 0, 10: 0, 11: 0}}